# ***1. Take sample dataset of IMDB.***

In [ ]:
# Colab library to upload files to notebook
#from google.colab import files

# Install Kaggle library
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.6)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.4.5.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.0)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)

In [ ]:
#Providing Kaggle API so that we can use Kaggle Dataset on Colab
import json
token = {"username":"neha49712","key":"e55a51446443d6c6c8938198a09f816c"}
with open('/content/kaggle.json', 'w') as file:
    json.dump(token, file)

In [ ]:
# Copying My token to Kaggle root directory
!cp /content/kaggle.json ~/.kaggle/

In [ ]:
# Setting Path for Route Directory
!kaggle config set -n path -v{/content}

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
- path is now set to: {/content}

In [ ]:
# Downloading IMDB dataset from Kaggle on Colab
!kaggle datasets download -d lakshmi25npathi/imdb-dataset-of-50k-movie-reviews

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Downloading imdb-dataset-of-50k-movie-reviews.zip to {/content}/datasets/lakshmi25npathi/imdb-dataset-of-50k-movie-reviews
 62% 16.0M/25.7M [00:00<00:00, 46.2MB/s]
100% 25.7M/25.7M [00:00<00:00, 73.9MB/s]

In [ ]:
#Unzipping the data downloaded from Kaggle
!unzip /content/{/content}/datasets/lakshmi25npathi/imdb-dataset-of-50k-movie-reviews/imdb-dataset-of-50k-movie-reviews.zip

Archive:  /content/{/content}/datasets/lakshmi25npathi/imdb-dataset-of-50k-movie-reviews/imdb-dataset-of-50k-movie-reviews.zip
  inflating: IMDB Dataset.csv

In [ ]:
#Importing pandas (Import statements should always be on top 
# this one is just to show where we are gonna use which library)
import pandas as pd

In [ ]:
#Read csv file
imdb_csv = pd .read_csv('/content/IMDB Dataset.csv')

In [ ]:
#Let's describe our dataset
imdb_csv.describe()

                                                   review sentiment
count                                               50000     50000
unique                                              49582         2
top     Loved today's show!!! It was a variety and not...  negative
freq                                                    5     25000

In [ ]:
#It will show top 10 records of imdb dataset
imdb_csv.head(10)

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive
5  Probably my all-time favorite movie, a story o...  positive
6  I sure would like to see a resurrection of a u...  positive
7  This show was an amazing, fresh & innovative i...  negative
8  Encouraged by the positive comments about this...  negative
9  If you like original gut wrenching laughter yo...  positive

# ***2. Removing Special charaters and Hyperlinks***

In [ ]:
# As removing special characters may remove "/" as well and it may cause problem in removing Hyperlinks
# First we are removing Hyperlinks
#Importing Regular Expressions
import re

#Removing Hyperlink from each row via Regular Expression

for index,row in imdb_csv.iterrows():
  pattern0 = re.compile('http[s]?://\S+')
  imdb_csv.loc[index,'review'] = re.sub(pattern0, ' ', row['review'] )

In [ ]:
#Print Dataset to view Impact
print(imdb_csv['review'])

0        One of the other reviewers has mentioned that ...
1        A wonderful little production. <br /><br />The...
2        I thought this was a wonderful way to spend ti...
3        Basically there's a family where a little boy ...
4        Petter Mattei's "Love in the Time of Money" is...
                               ...
49995    I thought this movie did a down right good job...
49996    Bad plot, bad dialogue, bad acting, idiotic di...
49997    I am a Catholic taught in parochial elementary...
49998    I'm going to have to disagree with the previou...
49999    No one expects the Star Trek movies to be high...
Name: review, Length: 50000, dtype: object

In [ ]:
#Removing <br /> Tags from each row via Regular Expression

for index,row in imdb_csv.iterrows():
  pattern1 = re.compile('<br />')
  imdb_csv.loc[index,'review'] = re.sub(pattern1, ' ', row['review'] )

In [ ]:
#Print Dataset to view Impact
print(imdb_csv['review'])

0        One of the other reviewers has mentioned that ...
1        A wonderful little production.   The filming t...
2        I thought this was a wonderful way to spend ti...
3        Basically there's a family where a little boy ...
4        Petter Mattei's "Love in the Time of Money" is...
                               ...
49995    I thought this movie did a down right good job...
49996    Bad plot, bad dialogue, bad acting, idiotic di...
49997    I am a Catholic taught in parochial elementary...
49998    I'm going to have to disagree with the previou...
49999    No one expects the Star Trek movies to be high...
Name: review, Length: 50000, dtype: object

In [ ]:
#Same as removing Special Charaters from each row via Regular Expression

for index,row in imdb_csv.iterrows():
  pattern2 = re.compile('[^A-Za-z0-9]+')
  imdb_csv.loc[index,'review'] = re.sub(pattern2, ' ', row['review'] )

In [ ]:
#Print Dataset to view Impact
print(imdb_csv['review'])

0        One of the other reviewers has mentioned that ...
1        A wonderful little production The filming tech...
2        I thought this was a wonderful way to spend ti...
3        Basically there s a family where a little boy ...
4        Petter Mattei s Love in the Time of Money is a...
                               ...
49995    I thought this movie did a down right good job...
49996    Bad plot bad dialogue bad acting idiotic direc...
49997    I am a Catholic taught in parochial elementary...
49998    I m going to have to disagree with the previou...
49999    No one expects the Star Trek movies to be high...
Name: review, Length: 50000, dtype: object

### ***3. Using Spacy Find the user names,City mentioned in the top 5000 records and store in list and add another column to list called Entity like if name is name of person then new column should contain "Person" if name is name of City then new column should be "City"***

In [ ]:
import spacy as sp
import en_core_web_sm

In [ ]:
sp.prefer_gpu()

False

In [ ]:
Sp_imdb = en_core_web_sm.load()

In [ ]:
imdb_csv['review'] = imdb_csv['review'].apply(lambda x: str(x))

In [ ]:
imdb_csv['review']

0        One of the other reviewers has mentioned that ...
1        A wonderful little production The filming tech...
2        I thought this was a wonderful way to spend ti...
3        Basically there s a family where a little boy ...
4        Petter Mattei s Love in the Time of Money is a...
                               ...
49995    I thought this movie did a down right good job...
49996    Bad plot bad dialogue bad acting idiotic direc...
49997    I am a Catholic taught in parochial elementary...
49998    I m going to have to disagree with the previou...
49999    No one expects the Star Trek movies to be high...
Name: review, Length: 50000, dtype: object

In [ ]:
#This is working fine for getting entities,but the problem is it is taking too much time and we can't afford that

#count = 0 
#passed = 0

#for i, entity in enumerate(imdb_csv['review'].values):
#  try:
#    Doc = Sp_imdb(entity)
#    for X in Doc.ents:
#      if X.label_ == 'GPE':
#        count+=1
#  except:
#    passed +=1
#    pass
#  if i%5000 == 0: print(i,count,passed)
#print(f'Spacy knows {count} out of {imdb_csv.shape[0]}')
#print('couldnt process:', passed)

In [ ]:
#Saving the data so that we don't have to process all this again
imdb_csv.to_csv(r'/content/IMDB.csv')

As Spacy is taking alot of time and because i am working on Colab Notebook so completing this process in one go is difficult, So completing that question via NLTK in next part(Assignment (Part B)).

Thanks,

Neha Kumari.