### ***3. Using NLTK Find the user names,City mentioned in the top 5000 records and store in list and add another column to list called Entity like if name is name of person then new column should contain "Person" if name is name of City then new column should be "City"***

In [ ]:
#Now performing same operation via NLTK
import nltk
#For Tokenization
nltk.download('punkt')
#Used for Tagging 
nltk.download('averaged_perceptron_tagger')
#Dowloading maxent 
nltk.download('maxent_ne_chunker')
nltk.download('words')
from collections import Counter

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.
[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping chunkers/maxent_ne_chunker.zip.
[nltk_data] Downloading package words to /root/nltk_data...
[nltk_data]   Unzipping corpora/words.zip.

In [ ]:
tagger = nltk.PerceptronTagger()
chunker = nltk.data.load(nltk.chunk._MULTICLASS_NE_CHUNKER)

# Function to find Person tags from Text
def Extract_ner_Person(text):
  chunk = chunker.parse(tagger.tag(nltk.word_tokenize(text,preserve_line=True)))
  ne = set()
  for tree in chunk.subtrees(filter=lambda t: t.label() == 'PERSON'):
    ne.add(' '.join([child[0] for child in tree.leaves()]))
    return ne

In [ ]:
# Function to find GPE tags from Text
def Extract_ner_GPE(text):
  chunk = chunker.parse(tagger.tag(nltk.word_tokenize(text,preserve_line=True)))
  ne = set()
  for tree in chunk.subtrees(filter=lambda t: t.label() == 'GPE'):
    ne.add(' '.join([child[0] for child in tree.leaves()]))
    return ne

In [ ]:
#Testing Extract_ner_Person function
text1  = 'Neha Delhi One of the other reviewers has mentioned that after watching just 1 Oz episode you ll be hooked They are right as this is exactly what happened with me The first thing that struck me about Oz was its brutality and unflinching scenes of violence which set in right from the word GO Trust me this is not a show for the faint hearted or timid This show pulls no punches with regards to drugs sex or violence Its is hardcore in the classic use of the word It is called OZ as that is the nickname given to the Oswald Maximum Security State Penitentary It focuses mainly on Emerald City an experimental section of the prison where all the cells have glass fronts and face inwards so privacy is not high on the agenda Em City is home to many Aryans Muslims gangstas Latinos Christians Italians Irish and more so scuffles death stares dodgy dealings and shady agreements are never far away I would say the main appeal of the show is due to the fact that it goes where other shows wouldn t dare Forget pretty pictures painted for mainstream audiences forget charm forget romance OZ doesn t mess around The first episode I ever saw struck me as so nasty it was surreal I couldn t say I was ready for it but as I watched more I developed a taste for Oz and got accustomed to the high levels of graphic violence Not just violence but injustice crooked guards who ll be sold out for a nickel inmates who ll kill on order and get away with it well mannered middle class inmates being turned into prison bitches due to their lack of street skills or prison experience Watching Oz you may become comfortable with what is uncomfortable viewing thats if you can get in touch with your darker side '
print(Extract_ner_Person(text1))

{'Neha'}

In [ ]:
#Testing Extract_ner_GPE function
text2 = 'Angela Sandra Bullock is a computer expert but being shy and somewhat of a recluse she does all of her work from the confines of her condo Just as she is about to take a vacation in Mexico a co worker sends her a computer disc with disturbing information on it Angela agrees to meet with her fellow employee but he mysteriously dies in a plane crash Angela heads to Mexico but takes the disc with her While she is sunning on the beach a terrific looking gentleman named Jack Jeremy Northam makes overtures to her She falls for them and the two end up on a boat to Cozumel However Jack works for the folks who generated the secret information on the disc and he is out to get it Even after Angela escapes from his clutches and lands back in the USA Jack makes things difficult He changes Angela s identity on every computer across the nation making her lose her condo her bank account everything Can Angela a computer whiz beat Jack at his own game This very exciting movie has many assets First Bullock and Northam are two very beautiful interesting actors and their presence adds immediate captivation The script is very clever and sure in its knowledge of the capabilities of computers and their relevance in today s world The costumes sets production and direction of the movie are also quite wonderful And despite how it sounds there is a great deal of exciting action as Angela goes on the run to defeat her enemy If you love thrillers without unnecessary bloodshed or violence this is a great choice It delivers twists and turns with great frequency making it possible for the viewer to net a very good evening of entertainment '
print(Extract_ner_GPE(text2))

{'Mexico'}

In [ ]:
#Importing pandas to load our saved dataset
import pandas as pd

In [ ]:
#Defining final DataFrame on which we are going to perform further operations.
DT_Final= pd.read_csv('/content/drive/My Drive/Colab Notebooks/DataSet/IMDB.csv')

In [ ]:
#As our Dataset is very heavy and it is utilizing whole RAM so let's split our dataset in 2 parts (2500 each set)
#This will take less time as well as it will not consume our whole RAM
DT_Final_1 = pd.DataFrame()
DT_Final_2 = pd.DataFrame()
DT_Final_1 = DT_Final.loc[:2499,:]
DT_Final_2 = DT_Final.loc[2500:4999,:]

In [ ]:
#Checking shape of both sliced Datasets
print(DT_Final_1.shape)
print(DT_Final_2.shape)

(2500, 3)
(2500, 3)

In [ ]:
#This will add a column in DT_Final_1 dataset which contains Person Name Only
DT_Final_1['Person']= DT_Final_1.apply(lambda row: Extract_ner_Person(row['review']), axis=1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
print(DT_Final_1)

      Unnamed: 0  ...           Person
0              0  ...             {Oz}
1              1  ...  {Michael Sheen}
2              2  ...    {Match Point}
3              3  ...           {Jake}
4              4  ...         {Petter}
...          ...  ...              ...
2495        2495  ...   {Costa Gavras}
2496        2496  ...      {Tim Krabb}
2497        2497  ...  {George Taylor}
2498        2498  ...     {Paul Lukas}
2499        2499  ...          {Mardi}

[2500 rows x 4 columns]

In [ ]:
#This will add a column in DT_Final_2 dataset which contains contains Person Name Only
DT_Final_2['Person']= DT_Final_2.apply(lambda row: Extract_ner_Person(row['review']), axis=1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
print(DT_Final_2)

      Unnamed: 0  ...             Person
2500        2500  ...               None
2501        2501  ...    {Samuel Fuller}
2502        2502  ...             {Lexi}
2503        2503  ...              {H O}
2504        2504  ...     {Robert Fryer}
...          ...  ...                ...
4995        4995  ...  {Denise Cheshire}
4996        4996  ...       {Stalingrad}
4997        4997  ...           {Jet Li}
4998        4998  ...       {Chris Gore}
4999        4999  ...               None

[2500 rows x 4 columns]

In [ ]:
#This will add a column in DT_Final_1 dataset which contains GPE(Countries,Cties,States) Names Only
DT_Final_1['GPE']= DT_Final_1.apply(lambda row: Extract_ner_GPE(row['review']), axis=1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
DT_Final_1

      Unnamed: 0  ...         GPE
0              0  ...        None
1              1  ...        None
2              2  ...     {Woody}
3              3  ...        None
4              4  ...     {Money}
...          ...  ...         ...
2495        2495  ...     {Latin}
2496        2496  ...  {American}
2497        2497  ...  {Handsome}
2498        2498  ...        None
2499        2499  ...     {China}

[2500 rows x 5 columns]

In [ ]:
#This will add a column in DT_Final_1 dataset which contains GPE(Countries,Cties,States) Names Only
DT_Final_2['GPE']= DT_Final_2.apply(lambda row: Extract_ner_GPE(row['review']), axis=1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
DT_Final_2

      Unnamed: 0  ...            GPE
2500        2500  ...      {America}
2501        2501  ...       {Huston}
2502        2502  ...           None
2503        2503  ...           None
2504        2504  ...           None
...          ...  ...            ...
4995        4995  ...           None
4996        4996  ...      {Russian}
4997        4997  ...     {American}
4998        4998  ...     {Japanese}
4999        4999  ...  {Mastroianni}

[2500 rows x 5 columns]

In [ ]:
#Now Let's concatenate both Dataframes
Frames = [DT_Final_1 , DT_Final_2]
DT_Final = pd.concat(Frames)

In [ ]:
#Removing an Unnamed Index Row
IMDB_Entities = pd.DataFrame()
IMDB_Entities['PERSON'] = DT_Final['Person']
IMDB_Entities['CITY'] = DT_Final['GPE']

In [ ]:
#Let's check the final Dataframe we got after all this operation
IMDB_Entities.shape
IMDB_Entities.head(10)

            PERSON     CITY
0             {Oz}     None
1  {Michael Sheen}     None
2    {Match Point}  {Woody}
3           {Jake}     None
4         {Petter}  {Money}
5     {Paul Lukas}     None
6        {Seahunt}     None
7            {How}     None
8            {Bad}     None
9     {Great Camp}     None

## ***4. Store above data in DataFrame and convert  it to JSON and  return that JSON from function.***

In [ ]:
#As our data is already in Dataframe so coversion is not required 
#Writing a function to convert our Dataframe to JSON file and save it.
import json

In [ ]:
#Function to convert Dataframe to JSON
def Dataframe_to_JSON(DF_Set):
  d = DF_Set.to_json(orient='records')
  with open('/content/drive/My Drive/Colab Notebooks/DataSet/IMDB_Entities.json', 'w') as f:
    f.write(d)

In [ ]:
#Saving our Data by using Function created just above
Dataframe_to_JSON(IMDB_Entities)

Now, I have completed my Fourth Task successfully. Now i will move to my next and Final task of API creation. I will perform that task on other Notebook with my saved JSON data (API Creation).

(NOTE : I can continue with this Notebook as well but as i am completing this task with some intervals whenever i am opening this notebook i need to re-run all codes to make things continue and it is taking lot of Time so i am choosing to work on separate notebook with saved data.)

Thanks,

Neha Kumari.